# Day 2 - Data Cleaning Basics

In [1]:
import pandas as pd

# Load sample dataset (replace with your own later)
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

# Preview the data
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
## Trying out commands

#df.info() #datatype and total counts and null counts
#df.describe() #metadata
#df.isnull() #all cells T/F basis null or not
#df.isnull().sum() #col wise #nulls
#df.duplicated() #row wise which ones are duplicates T/F
#df.duplicated().sum() #all across #duplicated rows
#df.drop_duplicates(inplace = True)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

“Today I learned how to inspect and clean missing and duplicate values using pandas.”

In [ ]:
import pandas as pd

nums = [1, 2, 3]
#squares = list(map(lambda x: x**2, nums))
squ = list(map(lambda x:x**2, nums))
even = list(filter(lambda x: x%2==0, nums))
even_squ = list(map(lambda x: x**2, even))
squ, even, even_squ

## Error Handling
"""try:
    num = int(5) #input goes here
    print(10/num)
except ValueError:
    print("Invalid Input, enter a number")
except ZeroDivisionError:
    print("Can't divide by 0")
else:
    print("No error")
finally:
    print("All done.")"""

## Pandas df pivot creation
df = pd.DataFrame({
    'Team': ['A', 'A', 'B', 'B','B','B'],
    'Year': [2020, 2021, 2020, 2021, 2020, 2020],
    'Points': [10, 15, 12, 20, 5, 5]
})

pivot = pd.pivot_table(df, values='Points', index='Team', columns='Year', aggfunc='nunique')
pivot
#aggfunc = mean/sum/count/nunique etc.

Year  2020  2021
Team
A        1     1
B        2     1